doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="icon", href="/assets/templates/bespoyasov/img/favicon.png" type="image/x-icon")
		link(rel="shortcut icon", href="/assets/templates/bespoyasov/img/favicon.png" type="image/x-icon")
		link(href="css/styles.min.css", rel="stylesheet", type="text/css")
		<!--[if lt IE 9]>
		script(type="text/javascript", src="http://html5shim.googlecode.com/svn/trunk/html5.js")
		<!--<![endif]-->
		
		meta(name="keywords", content=data.head.keywords)
		meta(name="description", content=data.head.description)
		
		meta(name="apple-mobile-web-app-title", content=data.head.title)
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
		
		meta(name="application-name", content=data.head.title)
		meta(name="mobile-web-app-capable", content="yes")
		
		meta(name="og:title", content=data.head.title)
		meta(name="og:type", content="web_site")
		meta(name="og:url", content="http://tmstmp.bespoyasov.ru")
		meta(name="og:site_name", content="bespoyasov.ru")
		meta(name="og:description", content=data.head.description)
		
		meta(name="twitter:title", content=data.head.title)
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@bespoyasov") 
		meta(name="twitter:creator", content="@bespoyasov")
		meta(name="twitter:description", content=data.head.description)
		
		title #{data.head.title}

	body
		#app
		.fork
			a(href="https://github.com/bespoyasov/tmstmp") Гитхаб
	
	script(src="js/scripts.min.js")